[nicos]
user=nicos
group=nicos
services=cache,poller,daemon
pid_path={{nicos_data_dir}}/pid
logging_path={{nicos_data_dir}}/log
setup_package=nicos_{{nicos_facility}}
instrument={{nicos_instrument}}

[environment]
INSTRUMENT=nicos_{{nicos_facility}}.{{nicos_instrument}}
